<!DOCTYPE html>
<html>
	<head>
		<title>London Fashion Week - Live Updates</title>

		<script>
			{{{ appState }}}
		</script>
	</head>

	<body>
		<h1>NET-A-PORTER</h1>

		<h2>Live from London Fashion Week</h2>

		{{{ posts }}}
	</body>
</html>