<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/main.css" />
		<title>London Fashion Week - Live Updates</title>

		<script>
			{{{ appState }}}
		</script>
	</head>

	<body>
		<h1 class="logo">NET-A-PORTER</h1>

		<h2 class="title">Live from London Fashion Week</h2>

		<section role="main" class="posts">
			<div>
				{{{ posts }}}
			</div>
		</section>

		<script src="/main.js"></script>
	</body>
</html>